<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suit">

	<listeners>

		<listener class-name="listeners.TestListner" />

	</listeners>

	<test name="Smoke Test">
		<classes>
			<class name="com.automation.automation_exercise.LoginPageTest" />
		</classes>
	</test>
</suite> 